{% extends "base.html" %}
{% load static %}<!-- 追加 -->
{% block title %}トップページ{% endblock %}
{% block head %}
  <!-- 追加 -->
  <link rel="stylesheet" type="text/css" href="{% static "css/top.css" %}">
  <!-- ここまで -->
{% endblock %}
{% block content %}
<h1>Hello,world!</h1>
<!-- 追加 -->
<div class="article-list">
<!-- ここまで -->
{% for article in  articles %}
<!-- 変更 -->
  <a class="article-item" href="article/{{article.pk}}">
    <div class="article-pub-date">
      {{article.pub_date}}
    </div>
    <div class="article-title">
      {{article.title}}
    </div>
  </a>
<!-- ここまで -->
{% endfor %}
<!-- 追加 -->
</div>
<!-- ここまで -->
{% endblock %}
